@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 259 28% 96%;
    --foreground: 259 10% 20%;
    --card: 259 28% 99%;
    --card-foreground: 259 10% 20%;
    --popover: 259 28% 99%;
    --popover-foreground: 259 10% 20%;
    --primary: 259 65% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 259 30% 90%;
    --secondary-foreground: 259 10% 20%;
    --muted: 259 30% 90%;
    --muted-foreground: 259 10% 45%;
    --accent: 227 82% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 20% 85%;
    --input: 259 20% 90%;
    --ring: 227 82% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 259 10% 10%;
    --foreground: 259 10% 80%;
    --card: 259 10% 12%;
    --card-foreground: 259 10% 80%;
    --popover: 259 10% 12%;
    --popover-foreground: 259 10% 80%;
    --primary: 259 65% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 259 10% 20%;
    --secondary-foreground: 259 10% 80%;
    --muted: 259 10% 20%;
    --muted-foreground: 259 10% 55%;
    --accent: 227 82% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 10% 25%;
    --input: 259 10% 20%;
    --ring: 227 82% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(hsl(var(--border)) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -10px -10px;
  }
}
